Project1/latex/project1.fdb_latexmk
Project1/latex/project1.fls
Project1/latex/project1.log
Project1/latex/project1.pdf
Project1/latex/project1.synctex.gz
Final_v2/.python-version
Final_v2/.DS_Store
Final_v2/control/Copy_of_Controller.slx.r2023a
Final_v2/latex/final.aux
Final_v2/latex/final.fdb_latexmk
Final_v2/latex/final.fls
Final_v2/latex/final.log
Final_v2/latex/final.synctex.gz
Final_v2/latex/final.aux
Final_v2/latex/final.fdb_latexmk
Final_v2/latex/final.fls
Final_v2/latex/final.log
Final_v2/latex/final.synctex.gz
Final_v2/latex/final.pdf
